.form{
    background-color: rgb(219, 197, 148);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    
}
#foam{
    max-width: 500px;
    margin: 3px;
}
#btn{
    margin: 3px;

}
#foam2{
    max-width: 500px;
    margin: 5px;
    display: none;
}
.listType{
    list-style: none;
    padding: 5px;
}
.timer{
    font-size: 15px;
}

.other{
    margin-bottom: 10px;
}
.correct{
    margin-bottom: 10px;
}
#foam3{
    max-width: 500px;
    margin: 5px;
    display: none;
}

#foamWrong{
    max-width: 500px;
    margin: 5px;
    display: none;
}